# dependencies
.idea
/.idea
.idea/
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/*.zip
/*.rar
/uncaughtexception.log
/logs.log